$color__background-body: #f8f8f8;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #141414;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #133DA8; //royalblue
$color__link-visited: #6383D4;
$color__link-hover: #F76147;
$color__text-main: #636363;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* COLORS */

$copy: #d2d2d2;
$neutral-black: #000000;
$neutral-white: #ffffff;
$primary-deep-heat-red-1: #aa1552;
$primary-deep-heat-red-2: #ba5c77;
$primary-deep-heat-red-3: #cc8b9a;
$primary-technical-grey-1: #233443;
$primary-technical-grey-2: #576772;
$primary-technical-grey-3: #8e9caa;
$primary-electric-blue-1: #5aa3dc;
$primary-electric-blue-2: #5ab7e6;
$primary-electric-blue-3: #aecaec;
$secondary-warm-red-1: #c73e2a;
$secondary-warm-red-2: #d17558;
$secondary-warm-red-3: #dda37f;
$secondary-blue-grey-1: #557d8c;
$secondary-blue-grey-2: #739aae;
$secondary-blue-grey-3: #a7c3d4;
$critical-50: #fd0000;
$critical-60: #cc0000;
$critical-10: #ffcccc;
$critical-80: #800000;
$success-50: #23fd00;
$success-10: #d3ffcc;
$success-60: #1bcc00;
$success-80: #118000;
$warning-50: #fd9800;
$warning-60: #cc7a00;
$warning-10: #ffebcc;
$warning-80: #804d00;
$info-60: #0081cc;
$info-50: #00a2fd;
$info-10: #ccecff;
$info-80: #005180;